pip
git+https://github.com/Pycord-Development/pycord@master#egg=py-cord
aiodns
brotlipy
cchardet
colorlog~=6.6.0
motor~=2.5.1
pymongo~=3.12.3
psutil
validators
dnspython
python-dateutil
emoji
objgraph
humanfriendly
twitter~=1.19.3