pip
# py-cord==2.0.0rc1
git+https://github.com/Pycord-Development/pycord@master#egg=py-cord
aiodns
brotlipy
cchardet
colorlog~=6.6.0
motor==3.0.0
pymongo==4.2.0
psutil
validators==0.20.0
dnspython
python-dateutil
emoji
objgraph
humanfriendly
twitter~=1.19.3
httpx~=0.22.0
httpx_caching