pip
#py-cord @ git+https://github.com/Pycord-Development/pycord@master#egg=py-cord
aiodns
brotlipy
cchardet
colorlog
pymongo==4.16.10
psutil
validators
dnspython
python-dateutil
emoji
objgraph
humanfriendly
twitter==1.19.6
httpx~=0.28.1
httpx_caching==0.1a4
tabulate
numpy
scikit-learn
plotly
kaleido
pillow
aiohttp==3.13.3